<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Facts App</title>
</head>
<body>
    <header>
        <h1>Welcome to Message Schedular!</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/api/">Core API</a></li>
            <li><a href="http://127.0.0.1:8000/api/schedule/">Message Schedule</a></li>
            <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>



    <footer>
        <p>&copy; 2023 Message Schedular App. All rights reserved.</p>
    </footer>
</body>
</html>
